@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f3f3;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
        height: 80vh;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        width: 70%;
        height: 70vh;
    }
}

.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    /* border: 5px solid rgb(248, 247, 247); */
    border: 5px solid transparent;
    border-left: 5px solid rgb(28, 102, 214);
    border-right: 5px solid rgb(28, 102, 214);
    animation: animate 0.8s linear infinite;
    user-select: none;
    z-index: 99999;
}
@keyframes animate{
    0%{
        transform: rotate(0);
        width: 50px;
        height: 50px;
    }
    100%{
        transform: rotate(360deg);
    }
}


.container section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    overflow: hidden;
}
section.home_section, section.search_section, section.reels_section, section.notifications_section, section.account_section{
    display: none;
}
section.home_section.active, section.search_section.active, section.reels_section.active, section.notifications_section.active, section.account_section.active{
    display: flex;
}

/* Common css for all section*/
i.bi{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reels_section, .search_section, .notifications_section, .account_section{
    position: relative;
    width: 100%;
    height: 550px;
}





/* Home section */
.container .home_section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    user-select: none;
}
.container .home_section header .logo h4{
    font-weight: 500;
    font-size: 20px;
    margin-right: 3px;
}
.container .home_section header .icons{
    font-size: 20px;
    margin-right: 5px;
}
.container .home_section header .icons i:first-child{
    margin-right: 10px;
}
.container .section .status_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    margin: 5px 1.5px;
    overflow-x: auto;
    transition: .3s ease;
    user-select: none;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.container .section .status_div .status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: pre;
    min-width: 72px;
    min-height: 80px;
    margin-right: 1px;
    padding: 5px 0;
    cursor: pointer;
}
.container .home_section .status_div .status{
    min-width: 66px;
}
.container .section .status_div .status img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #eee,
                0 0 0 4px rgb(143, 235, 143);
    margin-top:  5px;
    margin-bottom: 5px;
}
.container .section .status_div .status.viewed img{
    box-shadow: 0 0 0 1.5px #fff,
                0 0 0 4px #efecec;
}
.container .section .status_div .status small{
    font-size: 0.78em;
    text-align: center;
    width: 100%;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home_underline{
    width: 100%;
    border: 1px solid #f7f6f6;
}
.underline{
    width: 100%;
    border: 1px solid #f7f6f6;
    margin-top: -10px;
}
.container .home_section .content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 453px;
    overflow-y: auto;
}
.container .home_section .content .data{
    width: 100%;
    height: auto;
    /* max-height: 453px; */
    margin-top: 15px;
    margin-bottom: 5px;
}
.container .home_section .content .data:nth-child(1){
    margin-top: 5px;
}
.container .home_section .content .data .profile_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container .home_section .content .data .profile_div .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .home_section .content .data .profile_div .profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 2.5px;
}
.container .home_section .content .data .profile_div .profile h4{
    font-weight: 600;
    /* margin-top: 2.3px; */
}
.container .home_section .content .data .profile_div .profile img.verify-icon{
    width: 14px;
    height: 14px;
}
.container .home_section .content .data .profile_div i{
    font-size: 20px;
}
.container .home_section .content .data .profile_content{
    position: relative;
    width: 100%;
    /* height: 56.1vh; */
    height: auto;
}
.container .home_section .content .data .profile_content .imgBox, 
.container .home_section .content .data .profile_content .videoBox{
    width: 99%;
    /* height: 250px; */
    height: 300px;
    margin: 5px 0.5% 0;
    user-select: none;
}
.container .home_section .content .data .profile_content .videoBox{
    height: 340px;
}
.container .home_section .content .data .profile_content .imgBox img,  
.container .home_section .content .data .profile_content .videoBox video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.container .home_section .content .data .profile_content .videoBox i{
    position: absolute;
    top: -1px;
    right: 10px;
    color: #fff;
    font-size: 25px;
}
.container .home_section .content .data .profile_content .icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: -2px;
    user-select: none;
}
.container .home_section .content .data .profile_content .icons .left-icons, 
.container .home_section .content .data .profile_content .icons .right-icon{
    padding: 5px;
    display: flex;
    align-items: center;
    width: 30%;
    font-size: 20px;
    cursor: pointer;
}
.container .home_section .content .data .profile_content .icons .left-icons i{
    margin-right: 8px;
}
.container .home_section .content .data .profile_content .icons .left-icons i.bi-heart-fill{
    color: red;
}
.container .home_section .content .data .profile_content .icons .right-icon{
    width: 10%;
}
.container .home_section .content .data .profile_content .messages{
    width: 100%;
    padding: 0 5px;
}
.container .home_section .content .data .profile_content .messages p{
    font-size: 14px;
}
.container .home_section .content .data .profile_content .messages p.caption{
    width: 100%;
    max-height: 48px;
    padding: 0 22px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.container .home_section .content .data .profile_content .messages p a.text-mute{
    text-decoration: none;
}
.container .home_section .content .data .profile_content .messages p.time{
    font-size: 10px;
}
.text-mute{
    color: #545252;
}

/* User chat section */


/* Search section */

/* .searchBox .data_collection .data img:hover, .searchBox .data_collection .data .videoBox:hover{

/* Reels section */
.reels_section .reels-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.reels_section .reels-container .reels_video{
    position: relative;
    width: 100%;
    /* min-height: 100%; */
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    user-select: none;
}
.reels_section .reels-container .head-part{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 0;
    align-items: center;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 99999;
}
.reels_section .reels-container .head-part h4{
    letter-spacing: .5px;
    font-weight: 600;
}
.reels_section .reels-container .head-part i{
    font-size: 25px;
}
.reels_section .reels-container .vid{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1px 1px 0;
    scroll-snap-align: start;
}
.reels_section .reels-container .vid video{
    width: 100%;
    height: 99.9%;
    /* height: auto; */
    object-fit: fill;
}
.reels_section .reels-container .vid .options{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    color: #fff;
    padding: 5px 10px;
    z-index: 999999;
}
.reels_section .reels-container .vid .options div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.reels_section .reels-container .vid .options div span{
    font-size: 13px;
}
.reels_section .reels-container .vid .options div i{
    font-size: 26px;
}
.reels_section .reels-container .vid .options img, .reels_section .reels-container .vid .profile .row img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.reels_section .reels-container .vid .options img{
    border-radius: 10px;
    border: 4px solid #fff;
}
.reels_section .reels-container .vid .like_counter, .reels_section .reels-container .vid .comment_counter, .reels_section .reels-container .send_video, .reels_section .reels-container .vid .share_video, .account_section .setting_tools{
    position: relative;
    display: none;
}
.reels_section .reels-container .vid .like_counter.active, .reels_section .reels-container .vid .comment_counter.active, .reels_section .reels-container .send_video.active, .reels_section .reels-container .vid .share_video.active, .account_section .setting_tools.active{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 99%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70%;
    margin: 0 2px;
    overflow-y: auto;
    z-index: 999999;
}
.reels_section .reels-container .vid .comment_counter.active{
    overflow-y: unset;
}
.reels_section .reels-container .vid .comment_counter.active .Comment_Box{
    width: 100%;
    height: 87.5%;
    overflow-y: auto;
}
section .bi-x-lg{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    user-select: none;
} 
.reels_section .reels-container .vid .like_counter h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.reels_section .reels-container .vid .like_counter .underline{
    margin-bottom: 10px;
    width: 100%;
    height: 2.5px;
    background: #eee;
}
.reels_section .reels-container .vid .like_counter .search{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.reels_section .reels-container .vid .like_counter .search i{
    position: absolute;
    left: 30px;
}
.reels_section .reels-container .vid .like_counter .search input{
    width: 90%;
    border: none;
    outline: none;
    padding: 8px 12px 8px 35px;
    background: #eee;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: .3px;
}
.reels_section .reels-container .vid .like_counter .play_count{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px;
}
.reels_section .reels-container .vid .like_counter .play_count i{
    font-size: 20px;
}
.reels_section .reels-container .vid .like_counter .liked_and_reactions{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 15px;
}
.reels_section .reels-container .vid .like_counter .liked_and_reactions h4{
    text-transform: uppercase;
}
.reels_section .reels-container .vid .like_counter .liked_and_reactions p{
    color: #333;
}
.reels_section .reels-container .vid .like_counter .underline.two{
    padding: 0 10px;
    width: 92%;
    margin-left: 14px;
    height: 3.1px;
    background: rgba(0,0,0,0.2);
}

.container .section .play{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    margin: 5px 10px 10px;
}
.container .section .play img, .container .section .vid .comment_counter .Box img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.container .section .play .imgDiv{
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background: #fff;
}
.container .section .play .imgDiv i{
    position: absolute;
    font-size: 50px;
    margin-top: -10px;
    margin-right: -10px;
    color: rgb(7, 111, 223);
}
.container .section .play p{
    position: absolute;
    top: 0;
    right: 5px;
    width: 80%;
    font-weight: 500;
    color: #333;
}
.container .section .play p a{
    text-decoration: none;
    color: rgb(5, 66, 222);
    font-weight: 600;
}
.container .section .play div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 54%;
}
.container .home_section .user_chat .user_chat_box .primary_chat .play div{
    width: 70%;
}
.container .section .play div h4:nth-child(2){
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 15px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .section .play div span{
    width: 100%;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 13px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .section .play button{
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background: rgb(6, 128, 204);
    color: #fff;
    padding: 6px 25px;
    letter-spacing: .3px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.container .section .play i{
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: #000;
    user-select: none;
    opacity: .8;
}
/* comment section */
/* Footer section for all section */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    user-select: none;
}
footer i.bi, footer img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}
footer img{
    width: 50px;
    height: 50px;
}
footer i.bi:hover{
    background: #333;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    user-select: none;
}

footer i.bi,
footer img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

footer img {
    width: 50px;
    height: 50px;
}

footer i.bi:hover {
    background: #333;
}